body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #FEC8D8;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #eee;
}

.logo {
  color: #9B5DE5;
  font-size: 24px;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 0.95rem;
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.menu li a:hover {
  color: #9B5DE5;
}

.menu li a.active {
  color: #9B5DE5;
}


main {
  padding: 40px 20px;
  text-align: center;
}

.chefes-intro h2 {
  font-size: 2.2rem;
  color: #9B5DE5;
  margin-bottom: 10px;
}

.chefes-intro p {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1rem;
  color: #555;
}

.chefes-lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.chefe-card {
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  max-width: 260px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.chefe-card:hover {
  transform: translateY(-5px);
}

.chefe-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.chefe-card h3 {
  color: #9B5DE5;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.chefe-card p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 15px;
}

.chefe-card button {
  background: #F8BBDA;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background: #FEC8D8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

footer h3 {
  color: #9B5DE5;
}

.footer-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #555;
}

.footer-social i {
  margin-left: 15px;
  font-size: 1.2rem;
  color: #333;
}

.cadastro-chefe {
  margin-top: 60px;
  padding: 40px 20px;
  background: #E1D5F5;
  border-top: 2px dashed #9B5DE5;
}

.cadastro-chefe h2 {
  color: #9B5DE5;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

#form-chefe {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#form-chefe input,
#form-chefe textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  outline-color: #9B5DE5;
}

#form-chefe button {
  background: #9B5DE5;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#form-chefe button:hover {
  background: #D7C2FF;
  color: #333;
}
